mat-card
    margin: 0 35px
    padding: 20px
    cursor: pointer

mat-card-title
    text-transform: uppercase
    color: #5a0075
    margin: 0 35px
    padding: 20px

mat-card-subtitle
    color: #000000
