<ng-container *ngIf="histories$ | async as histories">
    <main>
        <section class="container">
            <mat-card
                *ngFor="let history of histories"
                [routerLink]="['/', history!.id]"
            >
            <mat-card-header>
                <mat-card-title>
                    {{ history!.title }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ history!.event_date_utc | ago }}
                </mat-card-subtitle>
                </mat-card-header>
                <img
                *ngIf="history!.flight && history!.flight!.links && history!.flight!.links!.flickr_images![0]" 
                height="500"
                width="500"
                loading="lazy"
                [src]="history!.flight!.links!.flickr_images![0]"
                alt="Photo of {{ history!.title }}"
                />
                
                <mat-card-content>
                    {{ history!.details }}
                </mat-card-content>
            </mat-card>
        </section>
      </main>
</ng-container>
